

.navbar-custom {
        background-color: rgb(144, 216, 238);
         
    }
    
.container-custom-left{
max-width: 20%;
  margin-top: 5%;
  margin-left: 5%;
  float: left;
}
.container-custom-right{

  max-width: 60%;
  margin-top: 5%;
  margin-left: 5%;
  float: left;
 }
 
.form-custom{
  margin-left:6%;
  font-size: small;

}



