body {
  background-color: bisque;
}
h5 {
  width: auto;
  margin-left: 40%;
  margin-right: 20%;
  margin-top: 3%;
}
.navbar-custom {
  background-color: rgb(17, 114, 34);
  justify-content: center;
  color: white;
}
.navbar>.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content:center;
}
.container-custom-left{
  max-width: 20%;
  margin-top: 5%;
  margin-left: 5%;
  float: left;
}


.table{
  border-style: double;
  border-color: black;
  position: -5%;
}

.container-custom-right{
  max-width: 60%;
  margin-top: 5%;
  margin-left: 5%;
  float: left;
}
.form-custom{
  margin-left:6%;
  font-size: small;
}
 
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 1;
  width: 70px;
  height: 70px;
  margin: 80px 0 0 0;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid rgb(17, 114, 34);  
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display:none;
  align-items: center;
 
 
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
 }
  100% {
      -webkit-transform: rotate(360deg);
 }
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
 }
  100% {
      transform: rotate(360deg);
 }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s 
}
@-webkit-keyframes animatebottom {
  from {
      bottom:-100px;
      opacity:0 
 }
  to {
      bottom:0px;
      opacity:1 
 }
}
@keyframes animatebottom {
  from{
      bottom:-100px;
      opacity:0 
 }
  to{
      bottom:0;
      opacity:1 
 }
}
