

.navbar-custom {
        background-color: rgb(144, 216, 238);
         
    }
    
.container-custom{

      max-width: 25%;
      margin-top: 5%;
      margin-left: 5%;
  
}

.form-custom{

  
  margin-left:6%;
  font-size: small;

}


.container-table{

  max-width: 50%;
  margin-top: 5%;
  margin-left: 5%;

}
